.bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* background: #222; */
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3B3cHNteXV1MDltaG1zbmN6aTRzdGpoazZzNmN2cXlxY2wwMDBveCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rJ6vw8OUWCTuBmSkAd/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;
    
    font-size: 120%;
  }
  
